name: GitHub Actions Demo
run-name: "${{ github.actor }}: ${{ inputs.environment }} -  ${{ github.run_number }}"
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: pick environment
        default: dev
        options:
          - dev
          # - qa
          # - prod

jobs:
  run-project-tests:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Create environment file
        run: |
          echo "VERSION=$(cat version.json | jq -r .version | sed -r "s/[x]+/${{ github.run_number }}/g")" >> $GITHUB_ENV
      - name: Plot inputs
        run: |
          echo "environment is ${{ inputs.environment }}"
          echo "version is ${{ env.VERSION }}"
      - name: Build and tag Docker image
        run: |
          sudo docker build -t fastapi-sample:latest . 
          sudo docker tag fastapi-sample:latest k3d-touches-online-registry:5050/fastapi-sample:latest
          sudo docker push k3d-touches-online-registry:5050/fastapi-sample:latest

      - name: Deploy to Kubernetes
        run: |
          helm uninstall fastapi-sample -n touches-online-qa --ignore-not-found || true
          helm upgrade --install -f .github/helm/values-${{ inputs.environment }}.yaml --set fastapi-sample.tag=${{ env.VERSION }} fastapi-sample  .github/helm -n touches-online-qa
